undetected-chromedriver==3.5.5 
ollama
dotenv 
IPython
langchain-core
streamlit>=1.32
requests>=2.31
beautifulsoup4>=4.12
python-dotenv>=1.0
Pillow>=10.0
langchain>=0.1.16
langchain-openai>=0.1.6
langchain-groq>=0.0.6
google-api-python-client>=2.110
playwright
requests_html
lxml[html_clean]
requests
seleniumbase 
google-search-results
serpapi
